<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <title>Harry Potter and the Chamber of APIs</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron mt-5">
      <h1 class="display-4 text-center">Harry Potter</h1>
      <p class="lead text-center">and the Chamber of APIs</p>
      <hr class="my-4">
      <p>You're an API wizard Harry!</p>

      <div class="btn-group btn-group-justified">
        <a class="btn btn-primary btn-lg" href="/api/v1.0/hogwarts-students" role="button">View All Students</a>

        <div class="dropdown">
          <a class="btn btn-secondary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Select a House
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/api/v1.0/hogwarts-students/house/Gryffindor">Gryffindor</a>
            <a class="dropdown-item" href="/api/v1.0/hogwarts-students/house/Ravenclaw">Ravenclaw</a>
            <a class="dropdown-item" href="/api/v1.0/hogwarts-students/house/Hufflepuff">Hufflepuff</a>
            <a class="dropdown-item" href="/api/v1.0/hogwarts-students/house/Slytherin">Slytherin</a>
          </div>
        </div>
      </div>
    </div>

        <form class="row justify-content-center">
            <div class="col-md-8">
              <label for="exampleInputEmail1">Find a Student</label>
              <input type="input" class="form-control" id="studentInput" placeholder="Name of Student">
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>

  </div>

  <!-- jQuery, Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>