// COLORS
$color-primary: #018B78;
$color-primary-light: #3AAB9B;
$color-primary-dark: #00574B;

$color-secondary: #DE8F01;
$color-secondary-light: #FFC356;
$color-secondary-dark: #8A5900;

$color-tertiary: #D70115;
$color-tertiary-light: #F75464;
$color-tertiary-dark: #86000D;

$color-grey-light: rgb(190, 190, 190);

$border-radius: 1rem;
$shadow-default: 0 1rem 2rem rgba(black, .7);